
/* main > p{
    color: crimson;
}

main > .p1{
    color: blue;
}

main > .p3{
    color: mediumseagreen;
}

main > article > p{
    color: steelblue;
} 

#home .p2{
    color: blue;
}

! Immediate Sibling Selector (+)
h2 + p{
    color: blue;
}

h2 + p + div{
    color: yellowgreen;
}
    */

h2 ~ .p2{
    color: red;
}